.auth {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/guitare.jpg');
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        width: 25vw;
        background: #fff;
        border: solid 3px #000;
        padding: 1.25rem;
        text-align: center;

        .control {
            input {
                &[type="email"], &[type="password"] {
                    margin-bottom: 6px;
                }
            }
        }

        .actions {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                color: #3273dc;
            }
        }
    }

    .login {
        background-color: #fff;
        border: solid 2px #000;

        h3 {
            text-align: center;
        }
    }
}
