@font-face {
    font-family: 'Harrison';
    src: url('/public/fonts/Harrison.ttf') format('truetype');
}

@font-face {
    font-family: 'Simplifica';
    src: url('/public/fonts/simplifica.ttf') format('truetype');
}

.harrison {
    font-size: 2rem;
    font-variant: small-caps;
    color: #004703;
    font-weight: 400;
    font-family: "Harrison", sans-serif;
}
