footer {
    height: 15vh;
    padding: 0 3rem;

    .flex {
        height: 100%;
        align-items: center;

        a, p {
            font-family: "Simplifica", sans-serif;
            font-size: 1.625rem;
        }
    }
}
