.legal {
    h1 {
        text-align: center;
    }

    h2 {
        font-size: 24px;
    }

    h2, .subtitle {
        text-align: center;
    }

    h2, h3 {
        font-family: "Simplifica", sans-serif;
    }

    h3 {
        font-weight: bold;
        font-size: 32px;
        margin-top: 20px;
        line-height: 1;
    }
}
