@mixin input-style {
    width: 100%;
    border: solid 3px #000;
    font-size: 24px;
    font-family: "Simplifica", sans-serif;
    padding: 6px 12px;

    &::placeholder { /* Most modern browsers support this now. */
        color: #393939;
        opacity: 0.75;
    }

    &:focus, &:active {
        border: solid 3px #004703;
    }
}

@mixin button-style {
    font-variant: small-caps;
    padding: 5px 35px;
    font-family: "Simplifica", sans-serif;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

h3 {
    margin-bottom: 32px;
}

p {
    margin-bottom: 16px;
}
